<div>
  <footer class="px-30">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12" id="footer_section_1">
        <div class="footer-logo">
          <img
            src="./assets/images/footer-logo.png"
            alt="white colt outline"
            id="footer_logo"
          />
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12" id="footer_section_2">
        <div id="footer_middle"></div>
        <div class="">
          <a href="https://www.texas811.org/" class="call-before-info">
            <div class="call-before-dig text-center">
              <p>call before you dig</p>
              <span id="eightoneone">811</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div id="footer_section_3">
          <div class="footer-contact text-center">
            <a href="tel:346-388-2830" class="telphone">346-388-2830</a>
            <div>2950 North Loop West</div>
            <div>Suite 1150</div>
            <div>Houston, TX 77092</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <footer class="px-30 footer-copyright-area">
    <div id="scroll-up">
      <a>
        <span></span>
      </a>
    </div>
    <div class="text-center w-100">
      <div class="copyright-notice">
        &copy;
        <span id="year"></span>
        Colt Midstream | Website by
        <a href="https://digitalemona.de" class="footer-copyright-link"
          >DigitaLemonade</a
        >
        |
        <a
          href="https://coltmidstream.com/privacy-policy/"
          class="footer-copyright-link"
          >Privacy Policy</a
        >
        |
        <a
          href="https://coltmidstream.com/terms-conditions/"
          class="footer-copyright-link"
          >Terms and Conditions</a
        >
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript">
  var year = new Date();
  document.getElementById("year").innerHTML = year.getFullYear();

  $(document).ready(function () {
    document.getElementById("scroll-up").addEventListener("click", function () {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  });
</script>
